@import './fonts.css';
@import "tailwindcss";

@theme {
  --color-primary: #96754a;
  --color-luxury-cream: #FBF7F0;
  --color-luxury-taupe: #F2EBE3;
  --color-luxury-black: #2A2624;
  --color-luxury-border: #E5DCD0;

  --font-sans: Lato, Inter, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@layer base {
  body {
    @apply bg-luxury-cream text-luxury-black font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}